{{msg}}
<!-- {% extends 'CRUD.html' %}
{% block body %}
    <div class="container">
        <form action="{{url_for('Add')}}" method="POST">
          <h5>Add a new product:</h5>
            <input class="inputs" type="text" id="Pname" name="product_name" placeholder = "Product Name">
    
            <input class="inputs" type="text" id="Pcategory" name="product_category" placeholder = "Product Category">          
    
            <input class="inputs" type="text" id="Pcolor" name="product_color" placeholder="Product Color">
    
            <input class="inputs" type="number" step="1.0" id="Pprice" name="product_price" required placeholder="Product Price">
    
            <input class="inputs" type="number" step="1.0" id="Pserial" name="product_serial" required placeholder="Product Serial">
      
            <div action="{{url_for('Add')}}" class="buttons">
              <button typ="submit" value="submit" class="add">Add new product</button>
            </div>
        </form>
    </div>
{% endblock %} -->